# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/
.next/

# Terraform directories and state files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Environment variables (Never upload secrets!)
.env
frontend/.env
backend/.env